/* Global styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/957/007/non_2x/forgot-password-and-username-concept-businessman-confused-forgot-password-illustration-account-protection-danger-warning-wrong-password-flat-illustration-on-a-white-background-free-vector.jpg');

}

.card {
    border-radius: 20px;
    overflow: hidden;
    
}

.card-body {
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,2550.5);
    border-radius: 30px;
    padding: 3rem;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    padding: 1rem;
    border: 2px solid rgba(255,255,2550.5);
    border-radius: 20px;

}

.card-body .text-center h2 {
    margin-bottom: 1rem;
    color: #343a40;
}

.card-body p {
    margin-bottom: 2rem;
    color: rgb(30, 50, 68);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
label {
    display: block;
    font-weight: bold;
  }

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.card-footer a {
    color: #007bff;
    text-decoration: none;
}

.card-footer a:hover {
    text-decoration: underline;
}
