<mat-toolbar color="primary" class="mat-elevation-zB">
    <span><mat-icon>description</mat-icon>TIMESHEET</span>
    
    <div class="spacer"></div>
    
    <a mat-button routerLink="accueil">Accueil</a>
    <a mat-button routerLink="projets">Projets</a>
    <a mat-button routerLink="contact">Contact</a>
    <a mat-button routerLink="client-profile">Donne Votre Avis</a>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <a mat-raised-button color="accent" routerLink="connexion">Connexion</a>
  </mat-toolbar>
